[Tools]
msconvert = C:/Users/DP/AppData/Local/Apps/ProteoWizard 3.0.24342.740245c 64-bit/msconvert.exe
toppic = 
topfd = D:/WorkSpace/TDWorkflow/toppic-windows-1.7.8/topfd.exe
topmg = 
topdiff = 
pbfgen = D:/WorkSpace/TDWorkflow/InformedProteomics/PbfGen.exe
promex = D:/WorkSpace/TDWorkflow/InformedProteomics/ProMex.exe
mspathfinder = D:/WorkSpace/TDWorkflow/InformedProteomics/MSPathFinderT.exe
spectator = 
python = D:/Software/anaconda3/envs/env_312/python.exe

[Fasta]
fasta_path = D:/Data/fasta/decoys-uniprotkb_protein_AND_model_organism_96_2024_12_02.fasta

[Output]
output_dir = D:/WorkSpace/TDWorkflow/test

