[Tools]
msconvert = C:\Users\Elcher\AppData\Local\Apps\ProteoWizard\msconvert.exe
toppic = D:/code/Python/MS/toppic-windows-1.7.8/toppic.exe
topfd = D:/code/Python/MS/toppic-windows-1.7.8/topfd.exe
informed_proteomics = 
spectator = 
pbfgen = D:/code/Python/MS/InformedProteomics/PbfGen.exe
promex = D:/code/Python/MS/InformedProteomics/ProMex.exe
mspathfinder = D:/code/Python/MS/InformedProteomics/MSPathFinderT.exe

[Fasta]
fasta_path = D:/BaiduNetdiskDownload/uniprotkb_AND_model_organism_9606_AND_r_2024_12_16.fasta

[Output]
output_dir = D:/×ÀÃæ

